.card {
  width: 100%;
  padding-bottom: 16px;
  background: white;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  display: inline-flex;
  box-sizing: border-box;
}

.cabecalho {
  width: 100%;
  height: 24px;
  background: #82cffa;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.linha-superior-botoes {
  align-self: stretch;
  padding-left: 16px;
  padding-right: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 8px;
  display: flex;
}

.botoes {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: inline-flex;
}

.botao-favorito {
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #a4a4a4;
  font-size: 21px;
  font-family: Material Icons;
  font-weight: 400;
  word-wrap: break-word;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.botao-favorito:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.capa {
  max-width: 100%;
  height: auto;
  aspect-ratio: 128 / 185;
}

.titulo-e-autoria {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  display: flex;
  padding: 0 16px;
}

.titulo {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #2e2e2e;
  font-size: 21px;
  font-family: Montserrat;
  font-weight: 700;
  word-wrap: break-word;
}

.autoria {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #2e2e2e;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
}

section {
  border-top: 24px solid;
}

.literatura {
  border-color: #82cffa;
  background: #82cffa;
}

.poesia {
  border-color: #a6d157;
  background: #a6d157;
}

.biografias {
  border-color: #e06b69;
  background: #e06b69;
}

.mitos-lendas {
  border-color: #db6ebf;
  background: #db6ebf;
}

.tecnicos {
  border-color: #ff8a29;
  background: #ff8a29;
}
