@for (categoria of categorias; track $index) {
<section class="categorias" [ngClass]="categoria.classe">
  <div class="titulo">{{ categoria.nome }}</div>
  <span
    class="linha-destaque linha-destaque-grande"
    [ngClass]="categoria.classe"
  ></span>
  <div class="lista-categoria">
    <div class="linha-cards">
      @if (categoria.livros.length !== 0) { @for (livro of
      obterLivrosPorCategoria(categoria.nome); track livro) {
      <app-card class="card" [livro]="livro"></app-card>
      <app-card class="card" [livro]="livro"></app-card>
      <app-card class="card" [livro]="livro"></app-card>
      <app-card class="card" [livro]="livro"></app-card>
      <app-card class="card" [livro]="livro"></app-card>
      } }@else {
      <div class="texto-sem-livros">
        <img src="/sem-livros.png" alt="" />
        <p>Ainda não há livros nesta categoria.</p>
      </div>
      }
    </div>
  </div>
</section>
}
