@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:host {
  display: flex;
  justify-content: center;
}

body,
html {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.linha-destaque {
  display: block;
  margin: 0 auto;
}
