@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:host {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
}
